# Java / Maven
backend/target/
*.class

# Angular / Node
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/src/app/core/api/

# IDE
.idea/
*.iml
.vscode/*
!.vscode/extensions.json

# Secrets et environnement
.env
*.env.local

# Système
.DS_Store
Thumbs.db